.main {
  position: absolute;
  top: 25%;
  left: 20%;
  display: grid;
  grid-template-columns: 317px 317px 317px 317px;
}

.pagination {
  position: relative;
}

.pagination > input {
  width: 35px;
  height: 35px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 9px;
  margin: 5px 10px 5px 0px;
}
