.sub-header {
  position: absolute;
  left:5%;
  right: 0%;
  top: 15%;
}

.page-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 100%;

color: #484848;
}

.sub-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 100%;

display: flex;
align-items: center;
}